<ion-header [translucent]="false" class="cl-header">
  
 
      <ion-row class="ion-align-items-center header-line">
        <ion-col  size="2" class="menu-icon">
          <ion-icon name="reorder-three"></ion-icon>
        </ion-col>
        <ion-col size="8">
          Bull Burguer        
        </ion-col>
        <ion-col size="2" class="ion-text-end account-icon">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center header-subline">
        
      <ion-col size="6">
          <ion-segment [(ngModel)]="segment">
            <ion-segment-button  [value]="'0'" class="cl-segmento">
              <ion-label>Burguers</ion-label>
            </ion-segment-button>
          </ion-segment>
      </ion-col>
    
    <ion-col size="6">
      <ion-segment [(ngModel)]="segment">
            <ion-segment-button [value]="'1'" class="cl-segmento">
              <ion-label>Drinks</ion-label>
            </ion-segment-button>
          </ion-segment>
    </ion-col>
  </ion-row>
</ion-header>

<!-- seguimento burguer -->
<ion-content [fullscreen]="true" class="cl-content">
  <ion-grid *ngIf="segment == '0'">
   
    <ion-row>
        <ion-col size="12" class="img-produto" *ngFor="let burguer of burguer; let ix = index">
          <img [src]="burguerImg + burguer.imagem"/>
        </ion-col>
      </ion-row>
  </ion-grid>
 
 <!-- Seguimento Pizza -->
  <ion-grid *ngIf="segment == '1'">
  Drinks
  
  
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="btn-order">
    <ion-fab-button>
      <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
